<!DOCTYPE html>
<html>

<head>
    <title>Toronto Waste Lookup</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>Toronto Waste Lookup</h1>
    </header>

    <div class="searchbar">
        <section class="form">
            <input id="searchInput" type="text" placeholder="waste search" name="searchItem">
            <button id="searchButton" type="submit"><i class="fas fa-search fa-2x"></i></button>
        </section>
    </div>

    <ul class="searchresults">
    </ul>

    <ul class="favorites">
        <h2>Favorites</h2>
    </ul>


    <script type="text/javascript" src="app.js"></script>
</body>

</html>

<!-- <li><i class="fas fa-star"></i><span class="title">' + title + '</span><span class="body">' + body + '</span></li> -->