* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
/* -----------------------*/
/* --- header styling --- */
/* -----------------------*/

header {
    text-align: center;
    /* ADD OTHER WEB BROWSER ACCESIBILITY */
    background-image: linear-gradient(90deg, #006699, #339966);
    padding: 15px;
}

header h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0px;
}

/* ----------------------------- */
/* --- div.searchbar styling --- */
/* ----------------------------- */

div.searchbar .form {
    text-align: center;
    padding: 15px 20px 0;
    width: 100%;
    display: flex;
}

div.searchbar input[type=text] {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 18px;
    flex: 1 1 400px;
}

div.searchbar input[type=text]:focus {
    outline: none;
}

div.searchbar button {
    background-color: #339966;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #cccc;
    flex: 0 0 50px;
    height: 50px;
}

div.searchbar button:focus {
    outline: none;
}

div.searchbar button i {
    color: white;
    font-size: 2.5em;
}

/* -------------------------------- */
/* --- ul.searchresults styling --- */
/* -------------------------------- */

ul.searchresults,
ul.favorites {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* list-style: none; */
    padding: 0 20px;
}

ul.searchresults > li,
ul.favorites > li {
    flex-basis: 100%;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

/* -- star -- */
ul.searchresults > li > i,
ul.favorites > li > i {
    flex: 0 0 20px;
    align-self: baseline;
    font-size: 0.8em;
    position: relative;
    top: 3px;
    left: 3px;
}

.greenStar {
    color: #339966;
}

.greyStar {
    color: lightgrey;
}

/* -- title -- */
ul.searchresults > li > .title,
ul.favorites > li > .title {
    flex: 1 1 40%;
    padding: 0 5px;
    font-size: 0.95em;
    font-weight: 200;
}

/* -- body -- */
ul.searchresults > li > .body,
ul.favorites > li > .body {
    flex: 1 1 60%;
    font-size: 0.85em;
}

ul.searchresults > li > span.body > ul,
ul.favorites > li > span.body > ul {
    list-style-type: disc;
    /* font-size: 0.9em; */
}

ul.searchresults > li > span.body > ul >li,
ul.favorites > li > span.body > ul >li{
    padding-bottom: 10px;
}


ul.searchresults > li > span.body > ul >li p,
ul.favorites > li > span.body > ul >li p {
    padding-left: 40px;
}

@media (min-width:1000px) {
    ul.searchresults > li,
    ul.favorites > li {
        justify-content: center;
    }

    ul.searchresults > li > .title,
    ul.favorites > li > .title {
        flex: 0 1 400px;
        padding: 0 5px;
        font-size: 0.95em;
        font-weight: 200;
    }

    
    ul.searchresults > li > .body,
    ul.favorites > li > .body {
        flex: 0 1 600px;
        font-size: 0.85em;
    }
}

/* ------------------------- */
/* --- favorites styling --- */
/* ------------------------- */

.favorites-section {
    background-color: #F7FEFA;
}

.favorites-section h2 {
    padding: 20px;
    color: #339966;
}

.hide {
    display: none
}

/* ----------------------------- */
/* --- Error message styling --- */
/* ----------------------------- */

ul.searchresults h3 {
    margin: auto;
    color: red;
}

ul.searchresults p {
    margin: auto;
}
